# Ignore model files
models/colorization_release_v2.caffemodel
models/pts_in_hull.npy

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore Streamlit temporary files
.streamlit/
.db/

# Ignore image uploads and outputs (optional)
uploads/
outputs/
*.png
*.jpg
